# VS Code specific
.vscode/

# Ignore all files in VS Code settings except for specific ones you may want to include
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# Node.js specific (if applicable)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter/Dart specific (if applicable)
build/
.dart_tool/
.packages
pubspec.lock

src/headers/Constants.h